*.jl.cov
*.jl.mem
*.html
*.png
examples/smi/data
examples/sysid/data
examples/matrixcompletion/data

examples/smi/output
examples/sysid/output
examples/matrixcompletion/output
website/adcd_website/eqs
.DS_Store
